<nav class="navbar navbar-expand-lg navbar-light py-0">
    <div class="container">
        <a class="navbar-brand" routerLink="home">
            <img src="./assets/logo/logo.png" height="60px" alt="O'zbekiston davlat Xoreografiya akademyasi Urganch filiali logosi">
        </a>
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarID"
            aria-controls="navbarID" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarID">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="home">Asosiy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="about-us">Biz&nbsp;Haqimizda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="management">Jamoa</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" data-mdb-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Faoliyat
                    </a>
                    <div class="dropdown-menu text-center rounded-0" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="scientific">Ilmiy</a>
                        <a class="dropdown-item" routerLink="international">Xalqaro</a>
                        <a class="dropdown-item" routerLink="social">Ijtimoiy</a>
                        <a class="dropdown-item" routerLink="study">O'quv</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" data-mdb-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hujjatlar
                    </a>
                    <div class="dropdown-menu text-center rounded-0" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="nizom">Akademya nizomi</a>
                        <a class="dropdown-item" routerLink="grant">Stipendiya va Grantlar</a>
                        <a class="dropdown-item" routerLink="meyor">Me'yoriy Hujjatlar</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="news">Yangiliklar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="contact">Aloqa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="news" ><i class="fa fa-search"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
