<div class="container mb-5" *ngIf="newsData[0]">
    <div class="w-100 px-2 my-4" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
        <img [src]="'./assets/images/news/' + newsData[0].image" class="img-fluid mx-auto d-block" alt="News details image">
    </div>
    <div class="w-100 px-2" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="700">
        <div>
            <h3 class="mb-3">{{ newsData[0].title }}</h3>
        </div>
        <div>{{ newsData[0].text }}</div>

        <div class="d-flex justify-content-between align-items-center mt-4">
            <h6 class="mb-0">{{ newsData[0].date | date: 'YYYY.mm.dd' }}</h6>
            <a routerLink="/main/news" class="btn btn-info">Orqaga</a>
        </div>
    </div>
</div>