<div class="container">
    <h2 class="section-title">Jamoa azosining ma'lumotlari</h2>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
            <ng-container *ngIf="image.length > 0">
                <img [src]="imagePath + image" class="img-fluid" alt="Member image" loading="lazy">
            </ng-container>

            <div class="mt-3 border py-3 text-center rounded">
                <p>File turi: JPG, JPEG, PNG</p>
                <p>Hajmi: 0 ~ 5 MB</p>
                <input type="file" (change)="onFileChange($event)" accept=".png,.jpeg,.jpg" required #mainImage class="d-none">
                <button class="btn btn-info" (click)="mainImage.click()">Rasm tanlash</button>
            </div>

        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
            <form #f="ngForm" (ngSubmit)="update(f)">
                <input type="text" name="fullname" placeholder="F.I.Sh" [(ngModel)]="fullname" class="form-control mb-4" required>
                <input type="text" name="position" placeholder="Lavozimi" [(ngModel)]="position" class="form-control mb-4" required>
                <textarea name="text" rows="6" placeholder="Ma'lumot" [(ngModel)]="text" class="form-control mb-4" required></textarea>
                <button [disabled]="f.invalid" type="submit" class="btn btn-info d-block ms-auto">Saqlash</button>
            </form>
        </div>
    </div>
</div>