<section class="container">
    <h2 class="section-title">So'ngi yangiliklar</h2>

    <div class="row">
        <ng-container *ngFor="let item of news">
            <div class="col-lg-3 col-md-5 col-sm-6 col-11 mx-auto mb-4">
                <div class="card" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                            [src]="'./assets/images/news/' + item.image"
                            class="img-fluid"/>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="card-text">{{ item.text }}</p>
                        <a routerLink="/main/news/{{ item.id }}" class="btn btn-info">Batafsil</a>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</section>